.bundleStyle {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    display: block;
    width: 200px;
    margin-bottom: 2px;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
  
.headerStyle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
};
  
